* {
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0px;
}
body header, body footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  align-content: center;
  align-items: center;
}
body footer {
  margin-top: 2em;
}
body #footerHome {
  display: flex;
  flex-direction: column;
  text-align: center;
}
body #footerHome #contact, body #footerHome #reseaux {
  border-bottom: 1px solid white;
}
body #footerHome .blocFooterHome .icones {
  margin-bottom: 1em;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
body #footerHome .blocFooterHome .icones a {
  font-size: 3em;
  color: white;
}
body nav, body #navLogin, body #navUnlogin {
  background-color: #81cfe0;
  height: 70px;
  display: grid;
  justify-items: end;
  align-content: center;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.7em;
}
body #navUnlogin {
  grid-template-columns: 1fr 10fr 1fr;
}
body #navLogin {
  grid-template-columns: 1fr 9fr 1fr 1fr;
}
body #navLogin a i {
  color: rgba(0, 0, 0, 0.5);
}
body #navLogin a:first-of-type {
  justify-self: start;
}
body main.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 90%;
  align-self: center;
  align-items: center;
}

section {
  margin: 5%;
}

article.benefit-container {
  box-sizing: border-box;
  margin-top: 1em;
  padding: 1em;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-gap: 4%;
}
article.benefit-container a {
  color: #000000;
  text-decoration: none;
}
article.benefit-container img {
  grid-row: span 2;
  width: 100%;
}
article.benefit-container h3 {
  grid-column: span 2;
}

article.categorie-container {
  box-sizing: border-box;
  margin-top: 1em;
  padding: 1em;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  text-align: center;
}
article.categorie-container a {
  color: #000000;
  text-decoration: none;
}

.button {
  text-decoration: none;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
  padding: 0.5em;
  background: #81cfe0;
  color: white;
  border-radius: 5px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

/******************** Home *****************/
section#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#presentation #explication {
  border: 2px solid black;
  padding: 1em;
}
section#presentation #explication ul {
  padding-left: 0px;
}
section#presentation #explication ul li {
  display: grid;
  grid-template-columns: 1fr 5fr;
  list-style-type: none;
  margin-bottom: 1em;
  margin-top: 1em;
  align-items: center;
}
section#presentation #explication ul li .numero {
  border: solid black 1px;
  border-radius: 50%;
  width: 3em;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#presentation #explication .button {
  width: 80%;
}

section#newBenefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.5em;
}
section#newBenefits h2 {
  grid-column: span 4;
  justify-self: center;
}
section#newBenefits :nth-child(2) {
  grid-column: span 2;
  grid-row: span 2;
}
section#newBenefits :nth-child(5) {
  grid-column: span 3;
}
section#newBenefits :nth-child(3), section#newBenefits :nth-child(4) {
  grid-column: span 2;
}
section#newBenefits :nth-child(6) {
  grid-column: span 1;
  grid-row: span 2;
}
section#newBenefits :nth-child(7) {
  grid-column: span 1;
}
section#newBenefits :nth-child(8) {
  grid-column: span 1;
}
section#newBenefits article.newBenefit {
  box-sizing: border-box;
  margin-top: 1em;
  padding: 1em;
  background: white;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: dense;
}
section#newBenefits article.newBenefit a {
  color: #000000;
  text-decoration: none;
}
section#newBenefits article.newBenefit img {
  grid-column-start: 1;
  grid-row-start: 1;
  max-width: 100%;
}
section#newBenefits article.newBenefit .categorie {
  grid-column-start: 1;
  grid-row-start: 1;
  color: white;
  text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
section#newBenefits article.newBenefit a {
  grid-column-start: 1;
  grid-row-start: 2;
}

/**************************/
section#signup, section#login, section#validate, section#profil, section#categories, section#review, section#pay, section#generateUrl {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 90%;
}
section#signup form, section#login form, section#validate form, section#profil form, section#categories form, section#review form, section#pay form, section#generateUrl form {
  width: 80%;
}
section#signup form input, section#signup form textarea, section#login form input, section#login form textarea, section#validate form input, section#validate form textarea, section#profil form input, section#profil form textarea, section#categories form input, section#categories form textarea, section#review form input, section#review form textarea, section#pay form input, section#pay form textarea, section#generateUrl form input, section#generateUrl form textarea {
  padding: 0.5em;
  font-size: 1em;
  margin-top: 1em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
section#signup form input:focus, section#signup form textarea:focus, section#login form input:focus, section#login form textarea:focus, section#validate form input:focus, section#validate form textarea:focus, section#profil form input:focus, section#profil form textarea:focus, section#categories form input:focus, section#categories form textarea:focus, section#review form input:focus, section#review form textarea:focus, section#pay form input:focus, section#pay form textarea:focus, section#generateUrl form input:focus, section#generateUrl form textarea:focus {
  border-color: red;
}

section#login form {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-row-gap: 20px;
  align-items: center;
}
section#login form i {
  margin-right: 1em;
}
section#login form a {
  grid-column: span 2;
  justify-self: start;
}
section#login form .button {
  grid-column: span 2;
  justify-self: center;
  width: 60%;
}

section#signup form {
  width: 80%;
  display: flex;
  flex-direction: column;
}

section#benefits {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
section#benefits h2 {
  justify-self: center;
}

section#benefit {
  margin-top: 1.5em;
}
section#benefit article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 4%;
}
section#benefit article em {
  grid-row: 3;
  grid-column: 1;
}
section#benefit article h3 {
  align-self: center;
}
section#benefit article span {
  grid-row: 4;
  grid-column: 1;
  align-self: end;
}
section#benefit article img {
  grid-row: span 2;
  width: 100%;
  min-width: 150px;
}
section#benefit article form {
  grid-row: span 2;
  display: flex;
}
section#benefit article form .button {
  margin: auto;
  width: 80%;
}

section#basket {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}
section#basket h2, section#basket article, section#basket a:first-of-type {
  grid-column: span 2;
}
section#basket h2 {
  justify-self: center;
}
section#basket .total {
  border-top: solid black 1px;
  font-size: 2.5em;
  grid-column-start: 2;
  justify-self: center;
}
section#basket a:first-of-type {
  justify-self: end;
  color: #81cfe0;
  font-size: 3em;
  margin-right: 2em;
  text-decoration: none;
}
section#basket article {
  display: grid;
  grid-template-columns: 10fr 2fr 1fr 2fr;
  align-self: center;
  align-items: end;
}

section#validate form input, section#validate form textarea {
  width: 100%;
}
section#validate form .button {
  width: 100%;
}

section#profil form {
  width: 100%;
}
section#profil article {
  display: flex;
  flex-direction: column;
  align-items: start;
}
section#profil .liste-coffrets {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 5%;
}

section#categories article {
  width: 100%;
}

section#review article {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 90%;
}
section#review article #reviewBasket {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 1em;
}
section#review form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}

section#pay form {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}
section#pay form :nth-child(2), section#pay form :nth-child(3), section#pay form :nth-child(7), section#pay form button {
  grid-column: span 3;
}

/************************ Media query tablette ************************/
@media screen and (min-width: 600px) {
  footer #footerHome {
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
  }
  footer #footerHome #contact, footer #footerHome #reseaux {
    border-bottom: none;
  }

  section#signup, section#login, section#validate, section#profil, section#categories, section#review, section#pay, section#generateUrl {
    width: 60%;
  }

  section#benefits {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
  }
  section#benefits h2 {
    grid-column: span 2;
  }
}
/************************ Media query desktop ************************/
@media screen and (min-width: 1024px) {
  #home {
    display: grid;
    grid-template-columns: 3fr 5fr;
  }
  #home section#newBenefits {
    grid-template-columns: repeat(6, 1fr);
  }
  #home section#newBenefits h2 {
    grid-column: span 6;
  }

  section#signup, section#login, section#validate, section#profil, section#review, section#pay, section#generateUrl {
    width: 60%;
  }

  section#benefits {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
  }
  section#benefits h2 {
    grid-column: span 3;
  }
  section#benefits .tri {
    grid-column: span 2;
  }

  section#categories {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
  }
  section#categories article {
    width: 45%;
  }

  section#basket {
    width: 70%;
  }
}

/*# sourceMappingURL=style.css.map */
