
@mixin container-encadre{
    a{
        color: #000000;
        text-decoration: none;
    }
    box-sizing: border-box;
    margin-top: 1em;
    padding: 1em;
    background: white;
    box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.5);
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

@mixin form-input {
    padding: 0.5em;
    font-size: 1em;
    margin-top: 1em;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

