@import '_mixin.scss';

$colorBGPrincipale: black;
$colorBGSecondaire:#81cfe0;
$colorPoliceSecondaire: white;
$colorIcone: rgba($color: #000000, $alpha: 0.5);

* {
  box-sizing: border-box;
}

a {
  color: black;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display:flex;
  flex-direction: column;
  margin: 0px;

  header, footer {
    //width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $colorBGPrincipale;
    color: $colorPoliceSecondaire;
    align-content: center;
    align-items: center;
  }

  footer {
    margin-top: 2em;
  }
  #footerHome {
    display: flex;
    flex-direction: column;
    text-align: center;
    #contact, #reseaux {
      border-bottom: 1px solid $colorPoliceSecondaire;
    }
    .blocFooterHome{
      .icones{
        margin-bottom:1em;
        width: 100%;
        display: flex;
        justify-content: space-around;
        a {
          font-size: 3em;
          color: $colorPoliceSecondaire;
        }
      }
    }
  }
  nav {
    background-color: $colorBGSecondaire;
    height:70px;
    display:grid;
    justify-items: end;
    align-content: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.7em;
  }
  #navUnlogin {
    @extend nav;
    grid-template-columns: 1fr 10fr 1fr;
  }
  #navLogin {
    @extend nav;
    grid-template-columns: 1fr 9fr 1fr 1fr;
    a i {
      color: $colorIcone;
    }
    a:first-of-type{
      justify-self: start;
    }
  }

  main.container {
    display:flex;
    flex-direction: column;
    margin-bottom: 30px;
    width: 90%;
    align-self: center;
    align-items: center;
  }
}

section {
  margin:5%;
}

article.benefit-container {
  @include container-encadre;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  grid-gap:4%;

  img {
    grid-row: span 2;
    width:100%;
  }

  h3 {
    grid-column: span 2;
  }
}

article.categorie-container {
  @include container-encadre;
  text-align: center;
}

.button {
  text-decoration: none;
  font-size: 1em;
  margin-top: 1em;
  text-align: center;
  text-transform: uppercase;
  padding: .5em;
  background: $colorBGSecondaire;
  color: white;
  border-radius: 5px;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}

/******************** Home *****************/
section#presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  #explication {
    border: 2px solid black;
    padding: 1em;
    ul {
      padding-left: 0px;
      li {
        display: grid;
        grid-template-columns: 1fr 5fr;
        list-style-type: none;
        margin-bottom: 1em;
        margin-top: 1em;
        align-items: center;
        .numero {
          border: solid black 1px;
          border-radius:50%;
          width: 3em;
          height: 3em;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .button {
      width: 80%;
    }
  }
}

section#newBenefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 0.5em;
  h2 {
    grid-column: span 4;
    justify-self: center;
  }
  & :nth-child(2){
    grid-column: span 2;
    grid-row: span 2;
  }
  & :nth-child(5) {
    grid-column: span 3;

  }
  & :nth-child(3), & :nth-child(4){
    grid-column: span 2;
  }
  & :nth-child(6){
    grid-column: span 1;
    grid-row: span 2 ;
  }
  & :nth-child(7){
    grid-column: span 1;
  }
  & :nth-child(8) {
    grid-column: span 1;
  }

  article.newBenefit{
    @include container-encadre;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: dense;
    img {
      grid-column-start: 1;
      grid-row-start: 1;
      max-width: 100%;
    }
    .categorie {
      grid-column-start: 1;
      grid-row-start: 1;
      color: white;
      text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    }
    a {
      grid-column-start: 1;
      grid-row-start: 2;
    }
  }
}

/**************************/
section#signup, section#login, section#validate, section#profil, section#categories , section#review, section#pay, section#generateUrl {

  display: flex;
  flex-direction: column;
  text-align: center;
  //justify-content: center;
  align-items: center;
  width:90%;

  form {
    width: 80%;
    input, textarea {
      @include form-input;
      &:focus {
        border-color: red;
      }
    }
  }
}

section#login {
  form {

    margin-bottom:50px;
    display: grid;
    grid-template-columns: 1fr 11fr;
    grid-row-gap: 20px;
    align-items: center;
    i{
      margin-right:1em;
    }
    a {
      grid-column: span 2;
      justify-self: start;
    }
    .button {
      grid-column: span 2;
      justify-self: center;
      width: 60%
    }
  }
}

section#signup {
  form {
    width: 80%;
    display: flex;
    flex-direction: column;
    //text-align: center;
  }
}

section#benefits {
  width:100%;
  display: grid;
  justify-content: center;
  align-items: center;
  h2 {
    justify-self: center;
  }
}

section#benefit {
  margin-top: 1.5em;
  article {
    display:grid;
    grid-template-columns: 1fr 2fr;
    grid-gap:4%;

    em {
      grid-row: 3;
      grid-column: 1;
    }
    h3 {
      align-self: center;
    }
    span {
      grid-row: 4;
      grid-column: 1;
      align-self: end;
    }
    img {
      grid-row: span 2;
      width:100%;
      min-width: 150px;
    }
    form  {
      grid-row: span 2;
      display: flex;
      .button {
        margin: auto;
        width: 80%;
      }
    }
  }
}


section#basket {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 1em;

  h2, article, a:first-of-type {
    grid-column: span 2;
  }
  h2 {
    justify-self: center;
  }
  .total {
    border-top: solid black 1px;
    font-size:2.5em;
    grid-column-start: 2;
    justify-self: center;
    //align-self: center;
  }
  a:first-of-type{
    justify-self: end;
    color: $colorBGSecondaire;
    font-size: 3em;
    margin-right: 2em;
    text-decoration: none;
  }
  article{
    display: grid;
    grid-template-columns: 10fr 2fr 1fr 2fr;
    //justify-self: center;
    align-self: center;
    align-items: end;

  }
}

section#validate {
  form {
    input, textarea {
      width: 100%;
    }
    .button{
      width:100%;
    }
  }
}

section#profil {
  form {
    width: 100%;
  }
  article{
    display:flex;
    flex-direction: column;
    align-items: start;
  }

  .liste-coffrets {
    display:grid;
    grid-template-columns: auto auto;
    grid-gap: 5%;
  }
}


section#categories {
  article {
    width: 100%;
  }
}
section#review{

  article {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    #reviewBasket {
      display: flex;
      flex-direction: column;
      align-items: start;
      margin-left: 1em;
    }
  }
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }
}

section#pay {
  form {
    display:grid;
    grid-template-columns: 3fr 1fr 3fr;
    & :nth-child(2), & :nth-child(3), & :nth-child(7), button {
      grid-column: span 3;
    }
  }
}

/************************ Media query tablette ************************/
@media screen and (min-width:600px) {
  footer #footerHome {
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
    #contact, #reseaux {
      border-bottom: none;
    }
  }

  section#signup, section#login, section#validate, section#profil, section#categories, section#review, section#pay, section#generateUrl {
    width: 60%;
  }

  section#benefits {
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2em;
    h2{
      grid-column: span 2;
    }
  }
}

/************************ Media query desktop ************************/

@media screen and (min-width:1024px) {
  #home {
    display: grid;
    grid-template-columns: 3fr 5fr;
    section#newBenefits {
      grid-template-columns: repeat(6,1fr);
      h2 {
        grid-column: span 6;
      }
    }
  }

  section#signup, section#login, section#validate, section#profil, section#review, section#pay, section#generateUrl  {
    width: 60%;
  }

  section#benefits {
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
    h2{
      grid-column: span 3;
    }
    .tri {
      grid-column: span 2;
    }
  }

  section#categories {
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    width:90%;

    article {
      width: 45%;
    }
  }
  section#basket {
    width:70%;
  }
}


